# CODEOWNERS are explained in
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/
# about-code-owners

# These owners will be the default owners for everything in the repo. Unless a later
# match takes precedence, global owners will be requested for review when someone opens
# a pull request.
*                       @mo2561057 @tobiasraabe

# Owners responsible for the documentation.
/docs/                  @amageh @tobiasraabe

# Owners responsible for the method of simulated moments.
respy/msm.py            @mo2561057 @amageh

# Owners responsible for the state space.
respy/state_space.py    @mo2561057 @tobiasraabe
