notifications:
  - provider: Slack
    incoming_webhook:
      secure: LkWqVb15dNvdLjMQOyacTXy6
    on_build_success: false
    on_build_failure: false
    on_build_status_changed: true
  - provider: Email
    on_build_success: false
    on_build_failure: false
    on_build_status_changed: false


branches:
  only:
    - master

environment:
  PYTHON: "C:\\Python36"
  matrix:
      - TRAVIS_CI_FORTRAN: false
        TRAVIS_CI_MPI: false
        TRAVIS_CI_OMP: false
      - TRAVIS_CI_FORTRAN: true
        TRAVIS_CI_MPI: true
        TRAVIS_CI_OMP: true
      - TRAVIS_CI_FORTRAN: true
        TRAVIS_CI_MPI: false
        TRAVIS_CI_OMP: true
      - TRAVIS_CI_FORTRAN: true
        TRAVIS_CI_MPI: true
        TRAVIS_CI_OMP: false


install:
  # If there is a newer build queued for the same PR, cancel this one.
  # The AppVeyor 'rollout builds' option is supposed to serve the same
  # purpose but it is problematic because it tends to cancel builds pushed
  # directly to master instead of just PR builds (or the converse).
  # Credits: JuliaLang developers.
  - ps: if ($env:APPVEYOR_PULL_REQUEST_NUMBER -and $env:APPVEYOR_BUILD_NUMBER -ne ((Invoke-RestMethod `
      https://ci.appveyor.com/api/projects/$env:APPVEYOR_ACCOUNT_NAME/$env:APPVEYOR_PROJECT_SLUG/history?recordsNumber=50).builds | `
      Where-Object pullRequestId -eq $env:APPVEYOR_PULL_REQUEST_NUMBER)[0].buildNumber) { `
        throw "There are newer queued builds for this pull request, failing early." }
  # Add Python to path
  - set PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%
  # Add MPI to path
  - set PATH=C:\Program Files\Microsoft MPI\Bin;%PATH%
  - pip install -r requirements.txt
  - pip install -e . -vv
  - pip install pytest-cov
  - pip install codecov
  - pytest --cov=respy -vvv -s


build: false


- if  [ $TRAVIS_CI_FORTRAN ] || \
      [ $TRAVIS_CI_MPI ] || \
      [ $TRAVIS_CI_OMP ] ||
  then
      codecov
      echo 'send coverage statistic'
  fi
