# Prevents duplicate builds, but at the same time also forked PRs from being built.
# pr: none

jobs:
- job:
  displayName: Linux
  pool:
    vmImage: "ubuntu-latest"
  strategy:
    matrix:
      Python36:
        python.version: "3.6"
      Python37:
        python.version: "3.7"

  steps:
  - bash: echo "##vso[task.prependpath]$CONDA/bin"
    displayName: Add conda to PATH.

  - bash: |
      pip uninstall -y setuptools
      conda install setuptools --yes --quiet
      conda update conda --yes --quiet
    displayName: Update conda.

  - bash: conda create --yes --quiet --name respy python=$PYTHON_VERSION tox-conda -c conda-forge
    displayName: Create Anaconda environment.

  - bash: |
      source activate respy
      tox -e pytest -- -m "not slow" --cov-report xml --cov=./
    displayName: Run pytest.


  # The token is taken from environment variables.
  - script: bash <(curl https://codecov.io/bash) -t $(CODECOV_TOKEN)
    displayName: Upload coverage report to codecov.io.

  - bash: |
      source activate respy
      tox -e linting
    displayName: Run pre-commit.

  - bash: |
      source activate respy
      tox -e sphinx
    displayName: Run sphinx.

- job:
  displayName: Windows
  pool:
    vmImage: "windows-latest"
  strategy:
    matrix:
      Python36:
        python.version: "3.6"
      Python37:
        python.version: "3.7"

  steps:
  - powershell: Write-Host "##vso[task.prependpath]$env:CONDA\Scripts"
    displayName: Add conda to PATH.

  - powershell: conda update conda --yes --quiet
    displayName: Update conda.

  - powershell: conda create --yes --quiet --name respy python=$env:PYTHON_VERSION python-libarchive-c>=2.8 tox-conda numpy scipy -c conda-forge
    displayName: Create Anaconda environment.

  - script: |
      call activate respy
      tox -e pytest -- -m "not slow"
    displayName: Run pytest.

- job:
  displayName: MacOS
  pool:
    vmImage: "macOS-latest"
  strategy:
    matrix:
      Python36:
        python.version: "3.6"
      Python37:
        python.version: "3.7"

  steps:
  - bash: echo "##vso[task.prependpath]$CONDA/bin"
    displayName: Add conda to PATH

  # On Hosted macOS, the agent user doesn't have ownership of Miniconda's installation
  # directory. We need to take ownership if we want to update conda or install packages
  # globally.
  - bash: sudo chown -R $USER $CONDA
    displayName: Take ownership of conda installation

  - bash: |
      pip uninstall -y setuptools
      conda install setuptools --yes --quiet
      conda update conda --yes --quiet
    displayName: Update conda.

  - bash: |
      conda clean --index-cache --yes
      conda clean --all --yes
    displayName: Reset index-cache and clean conda.

  - bash: conda create --yes --quiet --name respy python=$PYTHON_VERSION tox-conda -c conda-forge
    displayName: Create Anaconda environment

  - bash: |
      source activate respy
      tox -e pytest -- -m "not slow"
    displayName: Run pytest.
