# Ignore folders.
.cache/
.idea/
.ipynb_checkpoints/
.tox/
.vscode/
__pycache__/
__tutorial__/
dist/
docs/_build/

# Ignore files.
.coverage
*.sublime-project
*.sublime-workspace
*.egg-info

**/*.pbs
**/*.respy.*
