notifications:
    slack:
        rooms:
          - oseconomics:NwY0nlxNsQh1WTEs7Y1acukS
        on_success: never
        on_failure: never
    email: false

language: python

python: 3.6

# The tests run only if it is an PR or if a tag is pushed. This should prevent duplicate
# builds with pr and push. We cannot disable push as it also disables deployment via
# tags.
if: type != push OR tag IS present OR branch = master

install:
    # Install and configure conda
    - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
    - bash miniconda.sh -b -p /home/travis/miniconda
    - export PATH=/home/travis/miniconda/bin:$PATH
    - conda config --set always_yes yes --set changeps1 no
    - conda install python=3.6
    - conda info -a

    # Install respy
    - pip install -e . --no-deps

    - pip install tox-conda

script:
    - tox

deploy:
    provider: pypi
    user: peisenha
    password:
        secure: R41aRCGRdv9836NuKDHK4zcP5EjdUVpsMeJr+sTsdGT6Q9zALvBZJ5fMavmPL+Ufp/e+11AFZwJeujNm08gMNPgyBOwx4Z1Oa/zFWBt6Sz3NIXmarfbfoOzKR+GVf/BJXlnZiNOy7yaMFmt1JOQ8fH29mk2CxEQtyogrjKRfiVYgFN4W54uI5gpTQQ8jZVO3yHiQ+YEaiA9u3AX2kuqqW6A2yPD+tuffuMYfoshz3/rVFh/TjUwk8gaXCj/RgW8nz+QGVoSfYokLKSs4h5YqtCYglEflIuxWITZ/gwkFsOPrwdm25kkcLEP/GuO5fqdDjzLbqQhRrCUZc9rJYdWFwzyHS9/N8uF8DCH8Dn67SVLGim+wT4kc2jXfND1k/dh4kjqgCQQpGMQSX1dxJdPZnNc1kvwm84YTXL91sG4Zu87fSHawChxNY23zuqNiJDZbvQ12anoHciFJinKVTp6CtAiZhcatoJ1nk8c+d27rSh+i3oly6N6tyWekZXMpngd44xVPCz4VrByyUAZlezODg2QLA05+4KOPSgAySHHeR7/QFbSkupGs0DvM0yxVjkMHerAvHDfQUm53yvHDnBM2kVhxISzA48HByi0dETAicZCw5Uh65oaZAfAnBDrV/Vuawe1AUCJobVue1Gbh6ycI53x9MKwCjJDJFiONFqr5HfE=
    distributions: "sdist"
    on:
        tags: true
        repo: OpenSourceEconomics/respy
