notifications:
    slack:
        rooms:
          - oseconomics:NwY0nlxNsQh1WTEs7Y1acukS
        on_success: change
        on_failure: always
    email: false

language:
    - python

python:
    - 3.6

before_install:
    - sudo apt-get update

addons:
    apt:
        packages:
            - gfortran
            - libatlas-dev
            - libatlas-base-dev

matrix:
    include:
        - env: CI_FORTRAN=False CI_MPI=False  CI_OMP=False
        - env: CI_FORTRAN=True CI_MPI=True  CI_OMP=True
        - env: CI_FORTRAN=True CI_MPI=False CI_OMP=True
        - env: CI_FORTRAN=True CI_MPI=True  CI_OMP=False

install:
    - sudo apt-get install -y -q mpich libmpich-dev

    # Install, configure conda and install packages
    - wget https://repo.continuum.io/miniconda/Miniconda3-4.5.11-Linux-x86_64.sh -O miniconda.sh
    - bash miniconda.sh -b -p /home/travis/miniconda
    - export PATH=/home/travis/miniconda/bin:$PATH
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a

    # Install respy
    - pip install -e . -vv --no-deps

    - pip install tox-conda

script:
    - travis_wait 45 tox

after_success:
    - if  [ $CI_FORTRAN ] || \
          [ $CI_MPI ] || \
          [ $CI_OMP ] ||
      then
          codecov
          echo 'send coverage statistic'
      fi
