name: respy
channels:
  - defaults
  - numba
dependencies:
  - python=3.6
  - pip=19.0.3
  - pandas=0.24
  - numba=0.43
  - scipy=1.2.1
  - statsmodels=0.9.0
  - pip:
    - codecov
    - doc8
    - pytest
    - pytest-cov
    - pytest-xdist
    - pyaml
    - restructuredtext_lint
    - sphinx-autobuild
    - sphinx_rtd_theme
    - tox-conda
