name: respy
channels:
  - numba
  - defaults
  - conda-forge
  - janosg
dependencies:
  - python=3.7
  - pip
  - click
  - codecov
  - doc8
  - deepdiff
  - estimagic>=0.0.9
  - jupyterlab
  - matplotlib
  - mkl
  - nbsphinx=0.4.2
  - numba
  - numpydoc
  - pandas>=0.24
  - pyaml
  - pytest
  - pytest-cov
  - pytest-xdist
  - restructuredtext_lint
  - scipy
  - seaborn
  - Sphinx
  - sphinx-autobuild
  - tox-conda
  - pip:
    - apprise
    - pre-commit
