name: respy
channels:
  - conda-forge
  - janosg
dependencies:
  - python=3.7
  - pip
  - click
  - codecov
  - conda-build
  - doc8
  - estimagic>=0.0.14
  - jupyterlab
  - line_profiler
  - matplotlib
  - mkl
  - nbsphinx=0.4.2
  - numba
  - numpydoc
  - pandas>=0.24
  - pdbpp
  - pyaml
  - pytest
  - pytest-cov
  - pytest-xdist
  - restructuredtext_lint
  - scipy
  - snakeviz
  - sphinx
  - sphinx-autobuild
  - tox-conda
  - conda-build
  - anaconda-client
  - conda-verify
  - pip:
    - apprise
    - pre-commit
