name: respy
channels:
  - opensourceeconomics
  - conda-forge
dependencies:
  - python>=3.6
  - pip
  - anaconda-client
  - bottleneck
  - chaospy
  - click
  - codecov
  - conda-build
  - conda-verify
  - doc8
  - estimagic>=0.0.30
  - fastparquet
  - hypothesis
  - joblib
  - jupyterlab
  - line_profiler
  - matplotlib
  - mkl
  - nbsphinx=0.4.2
  - numba
  - numexpr
  - numpydoc
  - pandas>=0.24
  - numpy=1.19
  - pdbpp
  - pre-commit
  - pyarrow
  - pyyaml
  - pytest>=6.2.1
  - pytest-cov
  - pytest-xdist
  - python-snappy
  - restructuredtext_lint
  - scipy
  - seaborn
  - snakeviz
  - sphinx
  - sphinx-autobuild
  - sphinxcontrib-bibtex
  - sphinx-autoapi<1.6.0
  - pydata-sphinx-theme>=0.3.0
  - tox-conda
  - pip:
    - apprise
    - bump2version
    - pytest-randomly
