name: respy
channels:
  - opensourceeconomics
  - conda-forge
dependencies:
  - python=3.7
  - pip
  - anaconda-client
  - bottleneck
  - chaospy
  - click
  - codecov
  - conda-build
  - conda-verify
  - doc8
  - estimagic>=0.0.28
  - joblib
  - jupyterlab
  - line_profiler
  - matplotlib
  - mkl
  - nbsphinx=0.4.2
  - numba
  - numexpr
  - numpydoc
  - pandas>=0.24
  - pdbpp
  - pre-commit
  - pyyaml
  - pytest
  - pytest-cov
  - pytest-xdist=1.29.0
  - restructuredtext_lint
  - scipy
  - seaborn
  - snakeviz
  - sphinx
  - sphinx-autobuild
  - tox-conda
  - pip:
    - apprise
    - bump2version
    - pytest-randomly
