name: respy
channels:
  - defaults
  - numba
  - conda-forge
dependencies:
  - python=3.7
  - pip=19.0.3
  - pandas=0.24
  - nbsphinx=0.4.2
  - numba=0.43
  - scipy=1.2.1
  - statsmodels=0.9.0
  - pip:
    - codecov
    - doc8
    - jupyterlab
    - matplotlib>=3.0.0
    - pyaml
    - pytest
    - pytest-cov
    - pytest-xdist
    - restructuredtext_lint
    - Sphinx>=2.0.0
    - sphinx-autobuild
    - sphinx_rtd_theme
    - tox-conda
