numpy>=1.11         # rq.filter: >=1.11,<1.12
pandas>=0.19.2      # rq.filter: >=0.19,<0.20
scipy>=0.18         # rq.filter: >=0.18,<0.19
statsmodels>=0.6    # rq.filter: >=0.6,<0.7
pytest>=3.0         # rq.filter: >=3.0,<4.0
