/* Remove execution count for notebook cells. */
div.prompt {
    display: none;
}

/* Getting started index page */

.intro-card {
    background: #fff;
    border-radius: 0;
    padding: 30px 10px 10px 10px;
    margin: 10px 0px;
    max-height: 85%;
}

.intro-card .card-text {
    margin: 20px 0px;
}

div.index-container {
    padding-bottom: 20px;
}

a.index-link {
  color: #333;
  text-decoration: none;
}

/* reference to user guide */
.gs-torefguide {
    align-items: center;
    font-size: 0.9rem;
}

.gs-torefguide .badge {
    background-color: #130654;
    margin: 10px 10px 10px 0px;
    padding: 5px;
}

.gs-torefguide a {
    margin-left: 5px;
    color: #130654;
    border-bottom: 1px solid #FFCA00f3;
    box-shadow: 0px -10px 0px #FFCA00f3 inset;
}

.gs-torefguide p {
    margin-top: 1rem;
}

.gs-torefguide a:hover {
    margin-left: 5px;
    color: grey;
    text-decoration: none;
    border-bottom: 1px solid #b2ff80f3;
    box-shadow: 0px -10px 0px #b2ff80f3 inset;
}

.blue { color: #130654; }

.boldblue {
  font-weight: bold;
  color: #130654;
}

.centerblue {
  text-align: center;
  color: #130654;
}

.orange { color: orange; }

.verbatimblue {
  font-weight: verbatim;
  color: #130654;
}

.boldcenterblue {
  font-weight: bold;
  text-align: center;
  color: #130654;
}

/* card tweaks */


.card-header {
  font-weight: bold;
  font-size: 1.1em;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
  padding: 15px;
}
